@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #404040;
  font-size: 18px;
  margin: 0;
}
.con{
  width: 800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #f2c744;
  
}
li {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #f2c744;
  padding: 10px;
  width: 450px;
  margin-bottom: 10px;
  color: #404040;
  word-break: break-all;
}

li button {
  height: 30px;
  margin-left: 5px;
  background: 0;
  border: 0;
  cursor: pointer;
}
.header{
  text-align: center;
}
input {
  margin-left: 40px;
  padding: 7px;
  width: 350px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
}
button {
  cursor: pointer;
  padding: 7px;
  width: 30px;
  margin-left: -8px;
  border: 0;
  background-color: #f2c744;
  color: #404040;
}
li button:hover {
color: red;
}
.save-btn:hover {
  color: greenyellow;
  }
  .edit-btn:hover {
    color: green;
    }
.add{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100px;
}
/* li.cancel {
  opacity: 0;
} */
 
input:focus{
  outline: none;
}
#log{
  color: #f2c744;
  background: 0;
  border: 0;
  width: 80px;
  cursor: pointer;
  font-size: 15px;
  position: fixed;
  top: 1px;
  right: 2px;
}
#log:hover{
  color: yellowgreen;
}
h2{
  color: #f2c744;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .con{
    width: 87%;
  }input{
    width: 171px;
  }h1 .add{
    width: 70px;
  }li{
    width: 271px;
    margin-right: 28px;
  }.header{
    text-align: center;
    margin-left: -30px;
  }
}